# PHY397  &  PHY469

<font color='red'><h1 align='center'>Introduction to Programming With Python</h1></font>
<center><h5>notebook by Jeffrey N. A. Aryee (PhD)</h5></center> <br />
<font color='blue'><blockquote><h3 style="align:center, float:left; color:#f00">"Programming without an overall architecture or design in mind is like exploring a cave with only a flashlight: You don’t know where you’ve been, you don’t know where you’re going, and you don’t know quite where you are." — Danny Thorpe</h3></blockquote></font>

<p>
    <font color='red'>YouTube:</font> <a href="https://www.youtube.com/channel/UCIjBRO4kq2a8sGOjZ1qM0wg">https://www.youtube.com/channel/UCIjBRO4kq2a8sGOjZ1qM0wg</a> <br />
    <font color='red'>Facebook:</font> <a href="https://www.facebook.com/honourable.gyerph.7/">https://www.facebook.com/honourable.gyerph.7/</a>  <br/>
<font color='red'>LinkedIn:</font> <a href="https://www.linkedin.com/in/jnaaryee/">https://www.linkedin.com/in/jnaaryee/</a> <br />
<font color='red'>Google Scholar:</font> <a href="https://scholar.google.com/citations?user=awGdXUsAAAAJ&hl=en">https://scholar.google.com/citations?user=awGdXUsAAAAJ&hl=en</a> <br />
<font color='red'>ResearchGate:</font> <a href="https://www.researchgate.net/profile/Jeffrey-Aryee">https://www.researchgate.net/profile/Jeffrey-Aryee</a> <br />
<font color='red'>ORCID:</font> <a href="https://orcid.org/0000-0002-4481-1441">https://orcid.org/0000-0002-4481-1441</a> <br />
<font color='red'>E-mail:</font> jnaaryee@knust.edu.gh / metdata.knust@gmail.com
</p>
<hr>
<h2>Training Materials accessible via <a>https://github.com/jeffjay88/OneQuantum-Ghana</a></h2>

<h1><font color='red'> Few Caveats</font></h1>
<hr>
<h5>*1*: Programming is a life-long journey of learning and networking. We have limited Time. You are advised to ask questions where necessary and to provide feedback for the success of this class. </h5>
<h5>*2*: This is a fundamental course and seeks to build foundational knowledge in Python Programming.</h5>

<hr>
<font color='red'><h2>List of Packages that will be useful for this training</h2></font>
<hr>
<ul>
    <li>Numpy: <a href="https://pypi.org/project/numpy/">https://pypi.org/project/numpy/</a> </li>
    <li>Scipy: <a href="https://pypi.org/project/scipy/">https://pypi.org/project/scipy/</a> </li>
    <li>Matplotlib: <a href="https://pypi.org/project/matplotlib/">https://pypi.org/project/matplotlib/</a> </li>
    <li>Seaborn: <a href="https://pypi.org/project/seaborn/">https://pypi.org/project/seaborn/</a> </li>
    <li>Pandas: <a href="https://pypi.org/project/pandas/">https://pypi.org/project/pandas/</a> </li>
    <li>Sympy: <a href="https://pypi.org/project/sympy/">https://pypi.org/project/sympy/</a> </li>
    <li>Cartopy: <a href="https://pypi.org/project/Cartopy/">https://pypi.org/project/Cartopy/</a> </li>
</ul>
    <hr>

<h1>HELPFUL RESOURCES FOR PYTHON HELP AND SELF-STUDY</h1>
<ul>
    <li>SoloLearn</li>
    <li>W3Schools</li>
    <li>StackOverflow</li>
    <li>MeteoData <a href="https://www.youtube.com/channel/UCIjBRO4kq2a8sGOjZ1qM0wg">https://www.youtube.com/channel/UCIjBRO4kq2a8sGOjZ1qM0wg</a></li>
</ul>

<img width=750px align='right' src='img/lecture-1/IDE.jpg'>
<h3>Python Interactive Development Environment (IDE)</h3>

<hr>
<h3>Study Objectives</h3>
At the end of this lesson, participants should be able to: <br />
<ul>
    <li>Add useful comments to a block of code </li>
    <li>Identify variable types and use case </li>
    <li>Apply some built-in (intrinsic) methods</li>
    <li>Use structures such as the IF conditions in Python Language </li>
</ul>
<hr>

<font color='red'>Content</font>
--
<a href="#Scientific-Computing?">[What is Scientific Computing?]</a> <br/>
[Why Python?](#Why-Python?) <br />
[Comments in Python](#Comments) <br />
[Input and Outputs (I/O)](#I/O) <br />
[Printing onto the terminal in Python](#I/O)<br />
[Input method](#Input)<br />
[Variable Assignment](#Variable-Assignment)<br />
[type() method](#type)<br />
[Introduction to Python Data types](#Python-Data-Types)<br />
[String Data Type](#String-Data-Types)<br />
[Handling Numbers](#Handling-Numbers)<br />
[Boolean Data Type](#Boolean)<br />
[Lists](#Lists)<br />
[Tuples](#Tuples)<br />
[Sets](#Sets)<br />
[Dictionary Data Type](#Dictionary)<br />
[Conditions In Python (IF Statements)](#conditions)<br />
[One-Liner Conditions](#one-liner-conditions)<br />
[]()<br />

<hr>
<p>
<h3>What is Scientific Computing?</h3></p>
<p>Scientific computing is the use of computer-based applications and programming tools to perform various science-based data 
assessment, manipulation and visualization. The goal at the end is to make meaningful scientific information out of the raw data that 
was initially available.   </p>
<br />

There are numerous programming tools, languages or packages that can be used for scientific computing. These are based on 
user preference and ease of use. A classical example of such tools is python, which to me, is most suited for this purpose 
(other programming communities will disagree!!!) 
<br />

<p>
In this class, the main aim is to teach fundamentals of Python programming language, their usage and application. Over the coming days, we shall try to explore the usefulness of the Python language, along with its benefits in Data Applications and Statistics.  
</p>

<p><h3>Why Python?</h3></p>
<p>Python (programming language) Python is an interpreted, high-level, general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace.
Since most modern OS are written in C, compilers/interpreters for modern high-level languages are also written in C. Python is not an exception - its most popular/"traditional" implementation is called CPython and is written in C.
As python is object-oriented, it has its own garbage collector whereas in C user has to manage memory on his own. C has compiled language. The complete source code is converted into a machine language which is easier for a computer to understand. Python on other hand is interpreted.</p>
<p>Python can be integrated with other languages such as C, C++, and Java. This means that a programmer can take advantage of work already done in another language while using Python. It also means that he or she can leverage the strengths of other languages, such as the extra speed that C or C++ can offer, while still enjoying the ease of development that's a hallmark of Python programming. (M. Dawson, 2003, Python Programming for the Absolute Beginner)
</p>
<p> The advantages of Python programming spans, but is not limited to the following:</p>
<ul>
    <li>Python is powerful</li>
    <li>Python is easy to learn and use</li>
    <li>Python is free and open-source language</li>
    <li>Python runs everywhere</li>
    <li>Python is object-oriented</li>
    <li>Python has a strong community</li>
</ul>
<p> This is just a little information on the above subject matter</p><br />

<font color='red'><h3>Let's Get Started!!! :)</h3></font>

<p><h3>Comments in Python</h3></p>
Comments, although added to a line of code, is a non-executable part of the code. In simple terms, though they exist as part
of the code, they have no effect on the code's execution. It only allows for readability of the code, and with ease. Python uses # for single line comments, and keeps multiple line comments in three opened and closed single or double quotes (''' ''' or """ """). For example: <br />
<p>#this is a single line comment</p>
<p>''' <br />
This is a multiple line comment. <br />
The entire block between the quotes are the comments, and have no effect on the code. <br />
'''</p>

In [2]:
#This is a single line comment

In [3]:
2+3   #This line does a simple summation of 2 numbers.

5

In [4]:
'''
This block of code is a multi-line comment.
All these parts are useful for readability but they play no specific part in the code run.
'''
2+3

5

In [6]:
"""
The quick brown fox
jumped over the 
lazy dog
"""

5+6

11

Input and Outputs (I/O)
--

<p><h3>Printing onto the terminal in Python</h3></p>
<p>It is a crucial step to look at, since over the course of study, we will be using this function a lot. Execution of the print function has the syntax <strong>print(variable)</strong>, which prints the variable onto the terminal. Sample examples are given in the cell below. Try it out and see how it works.
</p><br />

In [7]:
print(2)

2

In [8]:
print('Hello World')

Hello World

In [9]:
print(2+3)

5

In [10]:
print() #This simply prints an empty line and works similar to the next 2 lines

In [11]:
print('')

In [12]:
print('\n')

Input method
--

Data can be requested from users using the input() method, as shown below. By default, data retrieved by the input method is a string which can be treated in many ways.<br />

Eg.<br />
a = input()  %This gives no prompt. The only indicator will be a flickering mouse-pointer.

On the other hand, to prompt the user, a string can be parsed within the input which will be echoed as-is. <br />

text = input('Enter a double-digit value')

In [18]:
text = input('Enter a double-digit value: ')
text

Enter a double-digit value: 95

'95'

In [19]:
print(text)

95

<p><h3 style="color:#000">Variable Assignment</h3></p>
These are approaches for passing value to a variable. The value assigned the variable could be of any data type. Assignments are achieved by using the "=" sign. The main ways to assign values to a variable are by initialization (=), input and passing from a sub-process. Multiple assignments (passing an assigned variable as value to a new variable) are also possible. <br />

Examples are illustrated below.

In [25]:
x1 = 2
x1

2

In [26]:
a=[3,1,6,-20,8,7,0,-5,2,3]
a

[3, 1, 6, -20, 8, 7, 0, -5, 2, 3]

In [27]:
class_size = 50
class_size

50

<h3>type() method</h3>
The type() method is used to identify the data type for a defined variable. 
In order to find the type of a particular variable, simply use the code,  type(variable). <h4>For example: type('hello world') produces str, type(2) produces int, type(2.0) produces float, etc.
</h4><br />

In [28]:
text = input('Enter a double-digit value: ')
type(text)

Enter a double-digit value: 23

str

In [30]:
v = [1,2,3]
type( v )

list

In [14]:
type('Hello world')

str

In [31]:
type(2)

int

In [32]:
type(2.0)

float


<p><h3>Introduction to Python Data types</h3></p>
Python works with various data types, which include strings, integers, floats, boolean, arrays, lists, tuple, etc.


<img width=400px align='left' src="img/lecture-1/Python-data-structure.jpg" />
<br />
<h4><big> i. String Data Type</big></h4>
These are data types that are kept in either single- or double- quotes. eg., 'python', 'today', 'first_name', "surname", "password".
It is inappropriate to close a single quote with a double-, or vice-versa. The opening and closing quotes must be same.
In appropriate string types include "here', 'class", etc.
<br />

In [34]:
type('Here')

str

In [35]:
x = 'A string variable'
type(x)

str

In [36]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

String Subsetting
--
Strings can be subset using the square brackets containing the starting index, ending index and step.


N/B: Python indexing starts from zero (0).

When left empty, the default starting index is 0, the ending index is equivalent to the length of the string and the step is 1, by default.

In [40]:
a = 'OneQuantum Ghana'
a[0:10]

'OneQuantum'

In [42]:
x

'A string variable'

In [43]:
x[0]

'A'

In [44]:
x[2:]  #This line extracts the 3rd indexed item to the end.

'string variable'

In [49]:
x[: :2] #This extracts the even indices of the string

'Asrn aibe'

<h5 style="color:#00f">the len() method</h5>
The len() method gives the total length of the variable. The len() method, when used with a string variable, gives the number of characters in the given variable (spaces included).
<br />

In [23]:
x = 'A string variable'
len(x)

17

In [50]:
len( x[0] )

1

In [51]:
len( x[::2] )

9

<h5 style="color:#00f">String concatenation</h5>
String concatenation is achieved by simply using the '+' symbol.  On interactive interfaces, 'Hello '+'World' will output 
'Hello World', however, for core interfaces, one has to print out the result in order to have it show, using the print() function.
<br />

In [52]:
print('Hello '+'World')

Hello World

In [27]:
a = 'One'
b = 'Quantum '
c = 'Ghana'
print(a+b+c)

OneQuantum Ghana

<h5 style="color:#00f">String repetition</h5>
String repetition is possible in Python by simply multiplying the text with your number of times to be repeated (count). For example, 'Hello'*3  produces 'HelloHelloHello'. 
<br />

In [56]:
print( 'Python \n'*2 )

Python
Python

In [29]:
print('Python '*10)

Python Python Python Python Python Python Python Python Python Python

<h5 style="color:#00f">String Escapes</h5>
String escapes are used to tweak texts. For example, skipping to the next line ('\n'), tabbing ('\t'), etc.... <br /><br />

<h3> SELECTED ESCAPE SEQUENCES </h3>
<table width=80% align='center' border:2px>
    <tr style="background-color:#c0c0c0">
        <th style="color:#00f"> <h3 align='left'>Sequence / Syntax</h3></th>
        <th style="color:#00f"><h3 align='left'>Name</h3> </th>
        <th style="color:#00f"> <h3 align='left'>Description</h3> </th>
        <hr noshade size=5px style="color:#000">
    </tr>
    <tr>
        <td><h5 align='left'>\\</h5></td><td><h5 align='left'>Backslash</h5></td> <td><h5 align='left'>Prints one backslash.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\'</h5></td><td><h5 align='left'>Single quote</h5></td> <td><h5 align='left'>Prints a single quote.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\"</h5></td><td><h5 align='left'>Double quote</h5></td> <td><h5 align='left'>Prints a double quote.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\a</h5></td><td><h5 align='left'>Bell</h5></td> <td><h5 align='left'>Sounds (rings) the system bell.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\b</h5></td><td><h5 align='left'>Backspace</h5></td> <td><h5 align='left'>Moves cursor back one space.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\n</h5></td><td><h5 align='left'>Newline</h5></td> <td><h5 align='left'>Moves cursor to beginning of next line.</h5></td>
    </tr>
    <tr>
        <td><h5 align='left'>\t</h5></td><td><h5 align='left'>Horizontal Tab</h5></td> <td><h5 align='left'>Moves cursor forward one tab stop.</h5></td>
    </tr>
</table>

In [58]:
print('Kofi\'s pen')

Kofi's pen

In [59]:
print("Kwame said, \"My name is Kwame\"")

Kwame said, "My name is Kwame"

In [60]:
print('\n') #This produces a newline.

In [31]:
print('Hello \n')   #This leaves a new line after printing Hello

Hello

In [18]:
print('Here\'s to Greatness')    #\' produces a single quote and does not conflict with the string identifier.

Here's to Greatness

In [33]:
print("Here's to Greatness")

Here's to Greatness

In [61]:
print('Place \t Tabs \t Between \t The \t Texts')

Place 	 Tabs 	 Between 	 The 	 Texts

In [62]:
print('\"OneQuantum Ghana is here to stay\", the president said.')

"OneQuantum Ghana is here to stay", the president said.

In [36]:
print('''This string has a single (') and a double (") quote.''')

This string has a single (') and a double (") quote.

String Cases
Here, we focus on some methods to format strings. These include:

In [63]:
#The upper() method changes a string to uppercase
print('accra'.upper() )

ACCRA

In [64]:
#The lower() method changes a string to uppercase
print('INTENSITY PRODUCES SHORT-TERM RESULT; CONSISTENCY YIELDS LONGTERM RESULTS'.lower() )

intensity produces short-term result; consistency yields longterm results

In [39]:
#The capitalize() method changes a string to uppercase
print('INTENSITY PRODUCES SHORT-TERM RESULT; CONSISTENCY YIELDS LONGTERM RESULTS'.capitalize() )

Intensity produces short-term result; consistency yields longterm results

In [67]:
#The split() method splits a string along the given separator
x = 'INTENSITY PRODUCES SHORT-TERM RESULT; CONSISTENCY YIELDS LONGTERM RESULTS'
print( x.split(' ') )

['INTENSITY', 'PRODUCES', 'SHORT-TERM', 'RESULT;', 'CONSISTENCY', 'YIELDS', 'LONGTERM', 'RESULTS']

In [41]:
x.split('T')

['IN',
 'ENSI',
 'Y PRODUCES SHOR',
 '-',
 'ERM RESUL',
 '; CONSIS',
 'ENCY YIELDS LONG',
 'ERM RESUL',
 'S']

In [69]:
#Methods can also be nested for optimized result
x.split( 
    'ty'.upper() 
)

['INTENSI', ' PRODUCES SHORT-TERM RESULT; CONSISTENCY YIELDS LONGTERM RESULTS']

In [43]:
len( x.split( 'ty'.upper() ) )

2

In [44]:
#splitlines() returns a list of split strings along new lines/
x = 'Hello \nAll \nWelcome to OneQuantum Ghana'
x.splitlines()

['Hello ', 'All ', 'Welcome to OneQuantum Ghana']

In [45]:
len( x.splitlines())

3

In [71]:
#Replace() is used to replace a given string by a new one
x = 'Hello All Welcome to OneQuantum Ghana'
print(x.replace('Hello', 'Hi'))

Hi All Welcome to OneQuantum Ghana

In [72]:
#find() finds the first position of the searched variable/term from the string. Eg.
x.find('e')

1

In [73]:
#rfind() finds the last position of the searched variable/term from the string. Eg.
x.rfind('e')

23

String Formatting in Python
--

The format() method formats the specified value(s) and insert them inside the string's placeholder.
The placeholder is defined using curly brackets: {}. The format() method returns the formatted string.
The placeholders can be identified using named indexes {name}, numbered indexes {0}, or even empty placeholders {}

In [75]:
#' '.format()
first = "Welcome to the {prog} {year} organized by {organizers}".format(
    year = 2022, organizers = 'OneQuantum Ghana', prog = 'Python Programming')
first

'Welcome to the Python Programming 2022 organized by OneQuantum Ghana'

In [78]:
second = "My name is {0}, I'm {1}cm tall".format("Jeffrey",174)
second

"My name is Jeffrey, I'm 174cm tall"

In [79]:
third = "{} attained its independence on {}th March, 1957".format("Ghana",6)
third

'Ghana attained its independence on 6th March, 1957'

`Trial Examples:` <br />
Create a string variable and subset by the following descriptions:
<ol>
    <li>First 5 elements</li>
    <li>Odd-indexed elements</li>
    <li>All elements from start to end with a step of 3</li>
</ol>

`Trial Examples:`<br />
For the defined string above, <br />
<ol>
    <li> Find the length of the string </li>
    <li> Replace the spaces ( ) with underscores (_) </li>
    <li> Split the string along the spaces and capitalize each word. </li>
</ol>

<h4><big> ii. Handling Numbers</big></h4>

Python has various representations of numbers. For a start, the basic ones we will be dealing with are integers and floats. You might be thinking, "Numbers are numbers. What's the big deal?" But integers and floats can act a little differently under special circumstances, as you'll see.<br /><br />

<h4><big> Integers </big></h4>
Integers are non-decimal digits, whereas floats have both whole and decimal portions. Examples of integers are 2, 4, -10, 0,  etc...
<br />
In Python 3, there is effectively no limit to how long an integer value can be. Of course, it is constrained by the amount of memory your system has, as are all things, but beyond that an integer can be as long as you need it to be: <br />


<h4><big> Floating-Point Numbers </big></h4>
The float type in Python designates a floating-point number. Float values are specified with a decimal point. Examples of floats are 2.1, 4.0, -21.5, -0., etc.   Optionally, the character e or E followed by a positive or negative integer may be appended to specify scientific notation: (for example .4e7)<br />

<h4><big> Complex Numbers </big></h4>
Complex numbers are represented by “ x + yj “. Python converts the real numbers x and y into complex using the function complex (x,y). The real part can be accessed using the function real () and imaginary part can be represented by imag ().

In [49]:
print( type(0.) )

<class 'float'>

In [80]:
print( type(0) )

<class 'int'>

In [81]:
type(4 + 2j)

complex

In [52]:
complex(2,3)

(2+3j)

`Trial Question: ` <br />
Question: What is the difference between 2 and 2.0?

<h4><big> Basic Arithmetic </big></h4>
Numbers, in Python, can be subjected to various computational forms, such as basic arithmetic (+, -, /, *, powers, mod, etc...)

By default, using both float and integer in a singular arithmetic action returns a float result. (eg. 2 + 0.5). There are a few exceptions to this statement (just so you know).

<img width=600px src="img/lecture-1/arithmetic.png" />

In [82]:
2 + 3.2   #Addition

5.2

In [83]:
3 * 3.1   #Multiplication

9.3

In [55]:
4.9 - 0.9   #Subtraction

4.0

In [84]:
4/3    #Division

1.3333333333333333

In [85]:
4.1//2.1    #Floor Division

1.0

In [86]:
4//3

1

In [87]:
5%3       #Modulus (%)

2

In [88]:
3**2     #Exponentiation

9

In [60]:
3**2.    #Exponentiation

9.0

<h4 style="color:#000"><big> Boolean Data Type </big></h4>
<p>
    This comprises of only two variables (True or False). They mostly occur when an action is expected to return any of the two stated outputs. However, they can also be assigned to a variable by the user. Let's try to check their type below and find what the output is.
</p>

In [92]:
type(True)

bool

In [93]:
type(False)

bool

In [95]:
type( 2>3 )

bool

<h4 style="color:#000"><big> Lists </big></h4>
<p>

Lists are created by placing all the items (elements) inside square brackets [], separated by commas. It can have any number of items and they may be of different types (integer, float, string etc.). Lists need not be homogeneous always which makes it the most powerful tool in Python. A single list may contain DataTypes like Integers, Strings, as well as Objects. Lists are mutable, and hence, they can be altered even after their creation.
    
`A list can also have another list as an item. This is called a nested list.`

In [97]:
a = [1,2,3,4]
a1 = [
    [1,2,3,4],
    ['H','A','T','P']
]
type(a1)

list

List Subsetting
--
List subsetting is similar to the string subsetting. Lists can be subset using the square brackets containing the starting index, ending index and step.

N/B: Python indexing starts from zero (0).

When left empty, the default starting index is 0, the ending index is equivalent to the length of the string and the step is 1, by default.

In [98]:
names = ['Abel','Emma','Quantum','Legendre','Ghana']
type(names)

list

In [99]:
names[0]     #List elements at the first index

'Abel'

In [100]:
names[1:3]     #List elements from the 2nd to 3rd index

['Emma', 'Quantum']

In [69]:
names[::2]     #List elements at the odd index

['Abel', 'Quantum', 'Ghana']

In [70]:
names[1::2]     #List elements at the even index

['Emma', 'Legendre']

List data types are mutable: They can be altered.

In [101]:
names[0] = 'New Name'
names

['New Name', 'Emma', 'Quantum', 'Legendre', 'Ghana']

In [104]:
names[ : :-1]      #This reverses the list elements

['Ghana', 'Legendre', 'Quantum', 'Emma', 'New Name']

In [105]:
names[::-2]      #This reverses the list elements, producing elements at locations from the end to the front with a step of 2.

['Ghana', 'Quantum', 'New Name']

<h4 style="color:#000"><big> Appending to a List </big></h4>
<p>
New items can be added to a list using the append() method.

In [107]:
names.append( 'Michael' )
names

['New Name', 'Emma', 'Quantum', 'Legendre', 'Ghana', 'Michael', 'Michael']

<h4 style="color:#000"><big> Removing an item from a List </big></h4>
<p>
Items can be removed/dropped from a list using the remove() method.

In [108]:
names.remove('Michael')
names

['New Name', 'Emma', 'Quantum', 'Legendre', 'Ghana', 'Michael']

Other Built-In List Methods
--

In [109]:
names.count('Emma')      #Gives the count of the set variable in the list

1

In [110]:
names.append('Emma')
names.count('Emma')

2

In [112]:
names.index('Quantum')    #Gives the first index of the given variable from the list

2

In [154]:
names.insert(2, 'InsertedName')   #Insert a new variable at the given index of the defined list.
names

['New Name',
 'Emma',
 'InsertedName',
 'Quantum',
 'Legendre',
 'Ghana',
 'Michael',
 'Emma']

In [81]:
sorted(names)     #Sorting the list items using the sorted() method

['Emma', 'Emma', 'Ghana', 'InsertedName', 'Legendre', 'New Name', 'Quantum']

<h4 style="color:#000"><big> Tuples </big></h4>
<p>

Tuples are used to store multiple items in a single variable. Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage. A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets "( )".

In [113]:
a = (1,2,3,4,5)
type(a)

tuple

In [83]:
#Tuple Subsetting
a[0]

1

In [84]:
a[::2]

(1, 3, 5)

Tuples are immutable: They cannot be altered.

<img width=550px src="img/lecture-1/mutables.png" />

In [114]:
a[0] = 3

TypeError: 'tuple' object does not support item assignment

In [22]:
'Here'[0] = 'T'      #Similarly, strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
a.count(3)  #This gives the count of the set item in the defined tuple.

In [ ]:
a.index(5)   #Produces the index of the set item in the defined tuple.

<h4 style="color:#000"><big> Sets </big></h4>
<p>

    
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is unordered, unchangeable*, and unindexed.

In [115]:
a = {1,2,3}
type(a)

set

In [116]:
#There are no duplicates in a set.
a1 = {1,2,3,1,'Hi'}
a1

{1, 2, 3, 'Hi'}

In [117]:
#Sets are unindexed.
a1[0]

TypeError: 'set' object is not subscriptable

In [118]:
#Sets are immutable: They cannot be changed.
a1[0] = 2

TypeError: 'set' object does not support item assignment

In [119]:
#Adding a new item to the end of a set.
a1.add('New')
a1

{1, 2, 3, 'Hi', 'New'}

In [ ]:
a1.add('Item')
a1

In [120]:
#Updating a Set. This adds the item in no particular order
a1.update(['This','There'])
a1

{1, 2, 3, 'Hi', 'New', 'There', 'This'}

Frozen Sets
--
Python provides another built-in type called a frozenset, which is in all respects exactly like a set, except that a frozenset is immutable. You can perform non-modifying operations on a frozenset:

In [122]:
x = frozenset( 
    ['1', '2', '3'] 
)
type(x)

frozenset({'1', '2', '3'})

In [ ]:
x.union({1,2,5})   #Produces a Union Set of x with the new set.

<h4 style="color:#000"><big> Dictionary Data Type </big></h4>
<p>

Dictionaries are used to store data values in key:value pairs.
A dictionary is mutable but does not allow duplicates.
Dictionaries are written with curly brackets, and have keys and values:

In [125]:
a = {
  "Name": "OneQuantum Ghana",
  "Country": "Ghana",
  "Course": "Introduction to Programming with Python",
  "Year": 2022
}

type(a)

dict

In [126]:
#You can access the items of a dictionary by referring to its key name, inside square brackets:
a['Year']

2022

In [127]:
#Alternatively, you can use the get() method.
a.get("Name")

'OneQuantum Ghana'

In [128]:
a['Name']

'OneQuantum Ghana'

In [129]:
a.items()  #Produces the items (keys and values) stored in the dictionary

dict_items([('Name', 'OneQuantum Ghana'), ('Country', 'Ghana'), ('Course', 'Introduction to Programming with Python'), ('Year', 2022)])

In [130]:
a.keys()   #Produces the keys in the dictionary

dict_keys(['Name', 'Country', 'Course', 'Year'])

In [131]:
a.values()   #Produces the values stored in the dictionary

dict_values(['OneQuantum Ghana', 'Ghana', 'Introduction to Programming with Python', 2022])

<h1 style="color:#000"><big> Conditions In Python (IF Statements) </big></h1>
<p>

<p>Conditional statement consist of a test and one or more actions to be executed. The action in these action statement execute when the test evalutes to be True. However, in Python every value can be interpreted as a boolean value, regardless of its data type. i.e., when you test a condition, and your test is of a value that is not True or False, it will still be interpreted as either True or False.</p>
<h3>Comparisons</h3>
<p>Comparison is one of the common boolean expressions and it consist of two values with a comparison operator between them. This expression evalutes to True or False</p>
<img width=500px src="img/lecture-1/comparisons.jpg" />


<h4>Logical Operators</h4>
<p> Boolean expressions can be combined with logical operators and used in an if construct. There are three logical operators;</p>
<img width=700px src="img/lecture-1/logical.jpg" />

<p>
 Decision making is anticipation of conditions occurring while execution of the program and specifying actions taken according to the conditions. Decision structures evaluate multiple expressions which produce TRUE or FALSE as outcome. You need to determine which action to take or which statements to execute if outcome is TRUE or FALSE otherwise.
</p>

<p> The advantages of Python programming spans, but is not limited to the following:</p>
<ul>
    <li>If statements (One way Decision)</li>
    <li>If ....else statements (Two way decision & Multiple decision)</li>
    <li>Nested If statement</li>

</ul>

# One way Decision

<h3>if condition:</h3>
   &nbsp; &nbsp; actions_if_met

In [139]:
# Examples
x = 5
if x == 5:
    print( "x equals 5" )

x equals 5

In [140]:
if x > 4:
    print( "x is greater than 4" )

x is greater than 4

In [88]:
if x <= 5:
    print( "x is less than or equal to 5" )

x is less than or equal to 5

In [89]:
if x != 6 :
    print( "x does not equal 6" )

x does not equal 6

#  Two way Decision & Multiple  Decision
Often a decision branches, e.g., if a certain condition arises, you want to take a particular action, but if it does not arise, you want to take another action. This is supported by Python in the form of an expansion to the if statement that adds an else branch. In other cases too there are lots of decision which need to be taken.

In [142]:
if 5>13:
    print('This is True')
else:
    print('This is False')

This is False

In [145]:
if len('Hello') == 5:
    print('Hello is more than 5 letters')
elif 'Hello'.startswith('H'):
    print('Hello starts with H')
else:
    print('All these are invalid')

Hello is more than 5 letters

In [146]:
# syntax involves if,elif and else
# with multiple decision the number of elif depends on the number of decision to be taken

###############################################
#######   Two way Decision ####################
###############################################

Name = input("enter a your name: ")
if Name == 'John':
    print("You are welcome",Name)    
else:
    print (" I don't know you please")
    

print("Two decision execution complete")
print("####################################")
print("Next is Multiple Decision")

enter a your name: OneQuantum Ghana
 I don't know you please
Two decision execution complete
####################################
Next is Multiple Decision

In [147]:
###############################################
#####   Multiple Decision with if      ########
###############################################
num = int(input("enter a number pls: "))
if num == 0:
    print("num is zero")  
elif num > 0 and num < 20:
    print ("num is between 0 and 20")  
elif num > 20 and num < 45:
    print ("num is between 20 and 45")  
else:
    print (" I don't know the number")

enter a number pls: 23
num is between 20 and 45

# Nested If Statements

In [148]:
grade = 100
if grade > 60:
    print("\tStudent scored a passing grade")
    if grade >= 90:
        print("\tpassed with A")
        if grade >= 96:
            print("\tpassed with A+")

	Student scored a passing grade
	passed with A
	passed with A+

One-Liner Conditions
--

`Syntax:`  <br />
action_for_true   if     condition_True      else     action_for_false

In [150]:
'Yes' if 5<2 else 'No'

'No'

In [155]:
'Yes' if 4>2 else ('Even' if 4%2==0 else 'Odd')

'Yes'

In [94]:
'Even' if 5%2==0 else ('Yes' if 5>2 else 'No')

'Yes'

<strong>One-Liners</strong> are very useful ways of refactoring codes. They tend to optimize your code and make them easy to read and interpret. Once done right, they save you a tonne of work. On subsequent days, we will look at some more one-liner options of various constructs. <br />

Let's try our hands on a few more examples from what we have learnt today.

`Trial Example: `<br />

<hr>
<h2 align='center'> RECAP OF ITEMS STUDIED </h2>
<hr>
<ul>
<li>What is Scientific Computing? </li>
<li>Why Python? </li>
<li>Comments in Python </li>
<li>Input and Outputs (I/O) </li>
<li>Printing onto the terminal in Python </li>
<li>Input method </li>
<li>Variable Assignment </li>
<li>type() method </li>
<li>Introduction to Python Data types </li>
<li>String Data Type </li>
<li>Handling Numbers </li>
<li>Boolean Data Type </li>
<li>Lists </li>
<li>Tuples </li>
<li>Sets </li>
<li>Dictionary Data Type </li>
<li>Conditions In Python (IF Statements) </li>
<li>One-Liner Conditions </li>
<li>Conditional Subsetting </li>
</ul>
<hr>
<h1 align='center'> END OF LECTURE ONE</h1>